<li class="portfolio-item2" data-id="id-0" data-type="cat-item-[[+album]]">
    <div>
        <span class="image-block img-hover">
           <a class="image-zoom" href="[[+image_absolute]]" rel="prettyPhoto[gallery]">
              <figure>
                 <img src="[[+thumbnail]]" class="img-responsive w3layouts agileits" alt="[[+name]]">
                 <figcaption>
                    <h3>[[+name]]</h3>
                 </figcaption>
              </figure>
           </a>
        </span>
    </div>
</li>