<!--A Design by W3layouts
   Author: W3layout
   Author URL: http://w3layouts.com
   License: Creative Commons Attribution 3.0 Unported
   License URL: http://creativecommons.org/licenses/by/3.0/
   -->
<!DOCTYPE html>
<html lang="sk">
<head>
    <title>Hanzel Audio - your High End audio seller | [[*pagetitle]] :: Hanzel Audio</title>
    <!--meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="HanzelAudio Slovakia, Milan Hanzel, HanzelAudio, HiFi, High-End"/>
    <meta name="description" content="Predaj High-End audio techniky, Milan Hanzel">
    <meta name="author" content="Matej Kobza"/>
    <meta name="robots" content="noindex, nofollow">
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!--//meta tags ends here-->
    <!--booststrap-->
    <link href="assets/template/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <!--//booststrap end-->
    <!-- font-awesome icons -->
    <link href="assets/template/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <link href="assets/template/css/easy-responsive-tabs.css" rel='stylesheet' type='text/css'/>
    <!-- easy-responsive-tabs -->
    <link href="assets/template/css/prettyPhoto.css" rel="stylesheet" type="text/css"/>
    <!--stylesheets-->
    <link href="assets/template/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="assets/template/css/custom.css" rel="stylesheet" type="text/css" media="all"/>
    <!--//stylesheets-->
    <link href="//fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
    <base href="[[++site_url]]">
</head>
<body>
<div class="header-outs" style="background: url('[[*header_background]]')">
    <div class="w3-agile-logo">
        <div class=" head-wl">
            <div class="col-md-4 col-sm-4 col-xs-4 buttom-social-grids">
                <ul>
                    <li><a href="javascript:alert('Not available')"><span class="fa fa-facebook"></span></a></li>
                    <!--<li><a href="#"><span class="fa fa-twitter"></span></a></li>-->
                    <li><a href="javascript:alert('Not available')"><span class="fa fa-rss"></span></a></li>
                    <!--<li><a href="#"><span class="fa fa-vk"></span></a></li>-->
                </ul>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 headder-w3">
                <h1><a href="[[++site_url]]">Hanzel Audio</a></h1>
                <h2><a href="[[++site_url]]">High End Audio</a></h2>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 w3-header-top-right-text">
                <p><span class="fa fa-phone" aria-hidden="true"></span> [[!phoneNumber]]</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="top-nav">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <!-- //header -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false"
                            aria-controls="navbar">
                        <span class="sr-only">Navigácia</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    [[!Wayfinder? &startId=`0`&level=`1`&outerClass=`nav navbar-nav`&rowTpl=`menu.row`]]
                    <!--<ul class="nav navbar-nav ">-->
                    <!--<li><a href="index.html " class="scroll">Domov</a></li>-->
                    <!--<li><a href="#about " class="scroll">O nás</a></li>-->
                    <!--<li><a href="#services" class="scroll">Služby</a></li>-->
                    <!--<li><a href="#gallery" class="scroll">Galéria</a></li>-->
                    <!--<li><a href="#testimonials" class="scroll">Eshop</a></li>-->
                    <!--<li><a href="#contact" class="scroll">Kontakt</a></li>-->
                    <!--</ul>-->
                </div>
            </div>
        </nav>
    </div>
    <!-- Slideshow 4 -->
    <h3 class="hidden">Hanzel Audio</h3>
    <!--<div class="slider">-->
    <!--<div class="callbacks_container">-->
    <!--<ul class="rslides" id="slider4">-->
    <!--<li>-->
    <!--<div class="slider-img">-->
    <!--<div class="container">-->
    <!--<div class="slider-info">-->
    <!--<h4><span class="first-clr">D</span>ecorate <span class="first-clr">Y</span>our <span-->
    <!--class="first-clr">W</span>orld</h4>-->
    <!--<p>Quis autem vel eum iure reprehderit. magnis dis parturient montes,consectetuer iure-->
    <!--reprehderit. </p>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    <!--<li>-->
    <!--<div class="slider-img ">-->
    <!--<div class="container">-->
    <!--<div class="slider-info">-->
    <!--<h4><span class="first-clr">R</span>eal <span class="first-clr">A</span>nd <span-->
    <!--class="first-clr">N</span>atural <span class="first-clr">L</span>ook</h4>-->
    <!--<p>Quis autem vel eum iure reprehderit. magnis dis parturient montes,consectetuer iure-->
    <!--reprehderit. </p>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    <!--<li>-->
    <!--<div class="slider-img">-->
    <!--<div class="container">-->
    <!--<div class="slider-info">-->
    <!--<h4><span class="first-clr">B</span>est <span class="first-clr">I</span>nterior <span-->
    <!--class="first-clr">L</span>iving</h4>-->
    <!--<p>Quis autem vel eum iure reprehderit. magnis dis parturient montes,consectetuer iure-->
    <!--reprehderit. </p>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--<div class="clearfix"></div>-->
    <!--</div>-->
</div>
<!-- This is here just to demonstrate the callbacks -->
<!-- <ul class="events">
   <li>Example 4 callback events</li>
   </ul>-->
<!-- //banner -->
<!--about -->
<a name="[[#5.alias]]" id="[[#5.alias]]"></a>
<div class="about" id="about">
    <div class="container">
        <h3 class="title"><span class="sub-text">[[#5.pagetitle]]</span></h3>
        <div class="col-md-5 col-sm-5 outs-grid"
             style="background-image: url('[[#5.tv.about_image]]'); min-height: 300px;">
            <div class="clearfix"></div>
        </div>
        <div class="col-md-7 col-sm-7 abut-grid-w3ls"><br/>
            [[#5.content]]
        </div>
        <div class="clearfix"></div>
        <!--<div class="about-history-agile">-->
        <!--<h4>História</h4>-->
        <!--<div class="about-grid">-->
        <!--<div class="col-md-3 col-sm-2 about-gd">-->
        <!--<div class="about-gd-left">-->
        <!--<h5>2014 -</h5>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-4 col-sm-4 about-gd-right">-->
        <!--<h6>CREATIVE SPACES</h6>-->
        <!--</div>-->
        <!--<div class="col-md-5 col-sm-6 about-right-histy">-->
        <!--<p>Ut enim ad minima veniam, quis nostrum exercitationem ullam-->
        <!--corporis suscipit laboriosam.-->
        <!--</p>-->
        <!--</div>-->
        <!--<div class="clearfix"></div>-->
        <!--</div>-->
        <!--<div class="about-grid">-->
        <!--<div class="col-md-3 col-sm-2 about-gd">-->
        <!--<div class="about-gd-left">-->
        <!--<h5>2015 -</h5>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-4 col-sm-4 about-gd-right">-->
        <!--<h6>NEW WAY & SIMPLICITY</h6>-->
        <!--</div>-->
        <!--<div class="col-md-5 col-sm-6 about-right-histy">-->
        <!--<p>Ut enim ad minima veniam, quis nostrum exercitationem ullam-->
        <!--corporis suscipit laboriosam.-->
        <!--</p>-->
        <!--</div>-->
        <!--<div class="clearfix"></div>-->
        <!--</div>-->
        <!--<div class="about-grid">-->
        <!--<div class="col-md-3 col-sm-2 about-gd">-->
        <!--<div class="about-gd-left">-->
        <!--<h5>2016 -</h5>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-4 col-sm-4 about-gd-right">-->
        <!--<h6>ARCHITECTURE</h6>-->
        <!--</div>-->
        <!--<div class="col-md-5 col-sm-6 about-right-histy">-->
        <!--<p>Ut enim ad minima veniam, quis nostrum exercitationem ullam-->
        <!--corporis suscipit laboriosam.-->
        <!--</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="clearfix"></div>-->
        <!--</div>-->
    </div>
</div>
<!-- //about -->
<!--service -->
<a name="[[#6.alias]]" id="[[#6.alias]]"></a>
<div class="services" id="services">
    <div class="container">
        <h3 class="title clr"><span class="sub-text">[[#6.pagetitle]]</span></h3>
        <div class="top_tabs_agile">
            <div id="verticalTab" class="top_tabs_agile">
                <ul class="resp-tabs-list">
                    [[!getResources?
                    &parents=`6`&tpl=`services.menu.row`&tplFirst=`services.menu.row.first`&sortby=`{"menuindex":"ASC"}`]]
                </ul>
                <div class="resp-tabs-container">
                    [[!getResources?
                    &parents=`6`&tpl=`services.container`&sortby=`{"menuindex":ASC}`&includeContent=`1`&includeTVs=`1`]]
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //service -->
<!--portfolio -->
<a name="[[#7.alias]]" id="[[#7.alias]]"></a>
<div class="gallery" id="gallery">
    <div class="container">
        <h3 class="title"><span class="sub-text">[[#7.pagetitle]]</span></h3>
        <div class="galler-imgs">
            <ul class="portfolio-categ filter">
                <li class="port-filter all active">
                    <a href="#">Všetko</a>
                </li>
                [[!GalleryAlbums? &prominentOnly=`0` &rowTpl=`gallery.album`]]
            </ul>
            <ul class="portfolio-area">
                [[!Gallery? &album=`1` &thumbTpl=`gallery.thumb` &thumbWidth=`380` &thumbHeight=`266`]]
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--end portfolio-area -->
<!--counter-->
<!--<div class="rate" id="rate">-->
<!--<div class="container">-->
<!--<h3 class="title clr">Interior<span class="sub-text"> Stats</span></h3>-->
<!--<div class="my-ser-right">-->
<!--<div class="col-md-3 col-sm-3 col-xs-6 stats-grid stats-grid-1">-->
<!--<div class="ser-icone">-->
<!--<span class="fa fa-users font" aria-hidden="true"></span>-->
<!--<div class="counter">3500</div>-->
<!--<div class="stat-info-w3ls">-->
<!--<h4>Clients</h4>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-3 col-sm-3 col-xs-6 stats-grid stats-grid-2">-->
<!--<div class="ser-icone clr-green">-->
<!--<span class="fa fa-coffee font" aria-hidden="true"></span>-->
<!--<div class="counter">650</div>-->
<!--<div class="stat-info-w3ls">-->
<!--<h4>Coffee</h4>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-3 col-sm-3 col-xs-6 stats-grid stats-grid-3">-->
<!--<div class="ser-icone clr-green">-->
<!--<span class="fa fa-trophy font" aria-hidden="true"></span>-->
<!--<div class="counter">1021</div>-->
<!--<div class="stat-info-w3ls">-->
<!--<h4>Awards</h4>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-3 col-sm-3 col-xs-6 stats-grid stats-grid-4">-->
<!--<div class="ser-icone">-->
<!--<span class="fa fa-lightbulb-o font" aria-hidden="true"></span>-->
<!--<div class="counter">1010</div>-->
<!--<div class="stat-info-w3ls">-->
<!--<h4>Ideas</h4>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="clearfix"></div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--//counter-->
<!--team -->
<!--<section class="team" id="team">-->
<!--<div class="container">-->
<!--<h3 class="title">Interior<span class="sub-text"> Team</span></h3>-->
<!--<div class="pt-md">-->
<!--<div class=" col-md-3 col-sm-6 col-xs-6 profile">-->
<!--<div class="bodr-img">-->
<!--<div class="img-box">-->
<!--<img src="images/t1.jpg" alt="">-->
<!--<ul class="text-center">-->
<!--<li><a href="#"><span class="fa fa-facebook"></span></a></li>-->
<!--<li><a href="#"><span class="fa fa-twitter"></span></a></li>-->
<!--<li><a href="#"><span class="fa fa-rss"></span></a></li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--<h4>Marrie Doi</h4>-->
<!--<h6>Co-founder</h6>-->
<!--</div>-->
<!--<div class="col-md-3 col-sm-6 col-xs-6 profile">-->
<!--<div class="img-box">-->
<!--<img src="images/t2.jpg" alt="">-->
<!--<ul class="text-center">-->
<!--<li><a href="#"><span class="fa fa-facebook"></span></a></li>-->
<!--<li><a href="#"><span class="fa fa-twitter"></span></a></li>-->
<!--<li><a href="#"><span class="fa fa-rss"></span></a></li>-->
<!--</ul>-->
<!--</div>-->
<!--<h4>Christopher Di</h4>-->
<!--<h6>Designer</h6>-->
<!--</div>-->
<!--<div class="col-md-3 col-sm-6 col-xs-6 profile">-->
<!--<div class="img-box">-->
<!--<div class="team-list-img">-->
<!--<img src="images/t3.jpg" alt="">-->
<!--</div>-->
<!--<ul class="text-center">-->
<!--<li><a href="#"><span class="fa fa-facebook"></span></a></li>-->
<!--<li><a href="#"><span class="fa fa-twitter"></span></a></li>-->
<!--<li><a href="#"><span class="fa fa-rss"></span></a></li>-->
<!--</ul>-->
<!--</div>-->
<!--<h4>Heather H</h4>-->
<!--<h6> Projects</h6>-->
<!--</div>-->
<!--<div class="col-md-3 col-sm-6 col-xs-6 profile">-->
<!--<div class="img-box">-->
<!--<img src="images/t4.jpg" alt="">-->
<!--<ul class="text-center">-->
<!--<li><a href="#"><span class="fa fa-facebook"></span></a></li>-->
<!--<li><a href="#"><span class="fa fa-twitter"></span></a></li>-->
<!--<li><a href="#"><span class="fa fa-rss"></span></a></li>-->
<!--</ul>-->
<!--</div>-->
<!--<h4>John Doe</h4>-->
<!--<h6>Designer</h6>-->
<!--</div>-->
<!--</div>-->
<!--<div class="clearfix"></div>-->
<!--</div>-->
<!--</section>-->
<!--//team -->
<!-- counter-->
<!--<div class="auto-bar" id="auto-bar">-->
<!--<div class="container">-->
<!--<h3 class="title clr">Interior<span class="sub-text"> Skills</span></h3>-->
<!--<div class="w3l_about_bottom_grid_right bar-grids">-->
<!--<h6>Projects<span> 100% </span></h6>-->
<!--<div class="progress">-->
<!--<div class="progress-bar progress-bar-striped active" style="width: 100%">-->
<!--</div>-->
<!--</div>-->
<!--<div class="mid-bar">-->
<!--<h6>Meeting<span> 85% </span></h6>-->
<!--<div class="progress">-->
<!--<div class="progress-bar progress-bar-striped active" style="width: 85%">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<h6>Deals<span>67% </span></h6>-->
<!--<div class="progress">-->
<!--<div class="progress-bar progress-bar-striped active" style="width: 67%">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--testimonials -->
<!--<div class="testimonials" id="testimonials">-->
<!--<div class="container">-->
<!--<h3 class="title">Interior<span class="sub-text"> Clients</span></h3>-->
<!--<div id="myCarouselbanner" class="carousel slide" data-ride="carousel">-->
<!--&lt;!&ndash; Indicators &ndash;&gt;-->
<!--<ol class="carousel-indicators">-->
<!--<li data-target="#myCarouselbanner" data-slide-to="0" class=""></li>-->
<!--<li data-target="#myCarouselbanner" data-slide-to="1" class=""></li>-->
<!--<li data-target="#myCarouselbanner" data-slide-to="2" class="active"></li>-->
<!--<li data-target="#myCarouselbanner" data-slide-to="3"></li>-->
<!--</ol>-->
<!--&lt;!&ndash; Wrapper for slides &ndash;&gt;-->
<!--<div class="carousel-inner" role="listbox">-->
<!--<div class="item">-->
<!--<div class="client-text">-->
<!--<div class="img-text">-->
<!--<img src="images/c1.jpg" alt="">-->
<!--</div>-->
<!--<div class="clt-syas-agile">-->
<!--<h5>clark kent</h5>-->
<!--<p>Aenean pulvinar diam vel felis volutpat dictum, suscipit sapien scelerisque tempus non mollis massa. Aenean ac tellus suscipit sapien scelerisque tempus non mollis massa.</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="item">-->
<!--<div class="client-text">-->
<!--<div class="img-text">-->
<!--<img src="images/c2.jpg" alt="">-->
<!--</div>-->
<!--<div class="clt-syas-agile">-->
<!--<h5>Sara will</h5>-->
<!--<p>Aenean pulvinar diam vel felis volutpat dictum, suscipit sapien scelerisque tempus non mollis massa. Aenean ac tellus suscipit sapien scelerisque tempus non mollis massa.</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="item active">-->
<!--<div class="client-text">-->
<!--<div class="img-text">-->
<!--<img src="images/c3.jpg" alt="">-->
<!--</div>-->
<!--<div class="clt-syas-agile">-->
<!--<h5>Wally West</h5>-->
<!--<p>Aenean pulvinar diam vel felis volutpat dictum, suscipit sapien scelerisque tempus non mollis massa. Aenean ac tellus suscipit sapien scelerisque tempus non mollis massa.</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="item">-->
<!--<div class="client-text">-->
<!--<div class="img-text">-->
<!--<img src="images/c4.jpg" alt="">-->
<!--</div>-->
<!--<div class="clt-syas-agile">-->
<!--<h5>Rose kent</h5>-->
<!--<p>Aenean pulvinar diam vel felis volutpat dictum, suscipit sapien scelerisque tempus non mollis massa. Aenean ac tellus suscipit sapien scelerisque tempus non mollis massa.</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; Left and right controls &ndash;&gt;-->
<!--<a class="left carousel-control" href="#myCarouselbanner" role="button" data-slide="prev">-->
<!--<span class="fa fa-chevron-left" aria-hidden="true"></span>-->
<!--<span class="sr-only">Previous</span>-->
<!--</a>-->
<!--<a class="right carousel-control" href="#myCarouselbanner" role="button" data-slide="next">-->
<!--<span class="fa fa-chevron-right" aria-hidden="true"></span>-->
<!--<span class="sr-only">Next</span>-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!-- //testimonials -->
<!--contact-->
<a name="[[#8.alias]]" id="[[#8.alias]]"></a>
<div class="contact" id="contact">
    <h3 class="title clr"><span class="sub-text">Kontakt</span></h3>
    <h4 class="hidden">Kontakt</h4>
    <div class=" col-md-6 col-sm-6 col-xs-6 contact-map">
        <div class="map-grid">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d21454.55477971486!2d18.107977293421868!3d47.76555831170914!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476bad58d6604bc9%3A0x40cdc04bad9fa672!2zRHVuYWpza8OpIG7DoWJyZcW-aWUgMTE3OS8zOSwgOTQ1IDA1IEtvbcOhcm5vLCBTbG92ZW5za28!5e0!3m2!1ssk!2scz!4v1539293958688"></iframe>
        </div>
    </div>
    <div class=" col-md-6 col-sm-6 col-xs-6 contact-icons text-center">
        <div class="gride-contact-agileinfo">
            <h5>Napíšte nám </h5>
            <div class=" footer_grid_left">
                <div class="col-md-3 col-sm-3 col-xs-3 icon_grid_left">
                    <span class="fa fa-map-marker" aria-hidden="true"></span>
                </div>
                <div class=" col-md-9 col-sm-9 col-xs-9 address-gried">
                    <p>Dunajské&nbsp;nábrežie&nbsp;39<span>945 01 Komárno</span></p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="footer_grid_left">
                <div class="col-md-3 col-sm-3 col-xs-3 icon_grid_left">
                    <span class="fa fa-volume-control-phone" aria-hidden="true"></span>
                </div>
                <div class=" col-md-9  col-sm-9 col-xs-9 address-gried">
                    <p>(+421)&nbsp;905&nbsp;400&nbsp;770</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <div class="footer_grid_left">
                <div class="col-md-3 col-sm-3 col-xs-3 icon_grid_left">
                    <span class="fa fa-envelope" aria-hidden="true"></span>
                </div>
                <div class=" col-md-9 col-sm-9 col-xs-9 address-gried">
                    <p><a href="mailto:info@hanzelaudio.com">info@hanzelaudio.com</a></p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div>&nbsp;<br/><br/></div>
    <div class=" col-md-6 col-sm-6 col-xs-6 contact-map">
        <div class="map-grid">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9861.740783158113!2d16.320956936272115!3d48.172551036059694!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476da841c1a10067%3A0xff185d77e48569cb!2sWienerbergstra%C3%9Fe+36%2C+1120+Wien%2C+Austria!5e0!3m2!1sen!2scz!4v1540414520175"></iframe>
        </div>
    </div>
    <div class=" col-md-6 col-sm-6 col-xs-6 contact-icons text-center">
        <div class="gride-contact-agileinfo">
            <h5>Kontaktieren Sie uns</h5>
            <div class=" footer_grid_left">
                <div class="col-md-3 col-sm-3 col-xs-3 icon_grid_left">
                    <span class="fa fa-map-marker" aria-hidden="true"></span>
                </div>
                <div class=" col-md-9 col-sm-9 col-xs-9 address-gried">
                    <p>Wienerbergstrasse&nbsp;36/8<span>1120 Wien</span></p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="footer_grid_left">
                <div class="col-md-3 col-sm-3 col-xs-3 icon_grid_left">
                    <span class="fa fa-volume-control-phone" aria-hidden="true"></span>
                </div>
                <div class=" col-md-9  col-sm-9 col-xs-9 address-gried">
                    <p>(+43)&nbsp;699&nbsp;199&nbsp;62050</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <div class="footer_grid_left">
                <div class="col-md-3 col-sm-3 col-xs-3 icon_grid_left">
                    <span class="fa fa-envelope" aria-hidden="true"></span>
                </div>
                <div class=" col-md-9 col-sm-9 col-xs-9 address-gried">
                    <p><a href="mailto:info@hanzelaudio.com">info@hanzelaudio.com</a></p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
[[!FormIt?
&hooks=`spam,recaptchav2,email,redirect`
&spamEmailFields=`email`
&redirectTo=`[[*id]]`
&redirectParams=`{"email":"1"}`
&emailTpl=`contact.email`
&emailSubject=`Hanzelaudio.sk - Kontaktný formulár`
&emailTo=`info@hanzelaudio.sk`
&emailCC=`matej.kobza@gmail.com`
&emailFrom=`kontakt@hanzelaudio.sk`
&emailReplyTo=`[[+email]]`
&emailReplyToName=`[[+name]] [[+surname]]`
]]
<div class="info-contact">
    <div class="container">
        <div class="alert alert-success [[!getUrlParam:default=` hidden`? &name=`email` &int=`1`]]" role="alert">Správa bola úspešne odoslaná</div>
        <div class="contact-us">
            <form action="#" method="post">
                <div class="col-md-6 col-sm-6 col-xs-6 styled-input">
                    <input type="text" name="name" placeholder="Meno" required="">
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 styled-input">
                    <input type="text" name="surname" placeholder="Priezvisko" required="">
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 styled-input">
                    <input type="email" name="email" placeholder="Email" required="">
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 styled-input">
                    <input type="text" name="phone" placeholder="Telefón" required="">
                </div>
                <div class="clearfix"></div>
                <div class="styled-input">
                    <textarea name="message" placeholder="Správa" required=""></textarea>
                </div>
                <div class="clearfix"></div>
                <div>
                    [[!+fi.error.recaptchav2_error]]
                    [[!recaptchav2_render]]
                </div>
                <div>
                    <div class="click">
                        <input type="submit" value="ODOSLAŤ">
                    </div>
                </div>
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //contact-->
<!--footer-->
<footer>
    <div class="container">
        <div class="col-md-7 header-side">
            <p>©
                2018 Hanzel Audio. Všetky práva vyhradené | Design by <a href="http://www.W3Layouts.com"
                                                                         target="_blank">W3Layouts</a>
            </p>
        </div>
        <div class="col-md-5 header-side">
            <div class="buttom-social-grd text-center">
                <ul>
                    <li><a href="javascript:alert('Not available')"><span class="fa fa-facebook"></span></a></li>
                    <!--<li><a href="#"><span class="fa fa-twitter"></span></a></li>-->
                    <li><a href="javascript:alert('Not available')"><span class="fa fa-rss"></span></a></li>
                    <!--<li><a href="#"><span class="fa fa-vk"></span></a></li>-->
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- //footer-->
<!--js working-->
<script src="assets/template/js/jquery-2.2.3.min.js" type="text/javascript"></script>
<!-- //js  working-->
<script src="assets/template/js/responsiveslides.min.js" type="text/javascript"></script>
<script type="text/javascript">
    // You can also use "$(window).load(function() {"
    $(function () {
        // Slideshow 4
        $("#slider4").responsiveSlides({
            auto: true,
            pager: true,
            nav: false,
            speed: 900,
            namespace: "callbacks",
            before: function () {
                $('.events').append("<li>before event fired.</li>");
            },
            after: function () {
                $('.events').append("<li>after event fired.</li>");
            }
        });

    });
</script>
<!--// banner-->
<!-- service for responsive tabs -->
<script src="assets/template/js/easy-responsive-tabs.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#verticalTab').easyResponsiveTabs({
            type: 'vertical',
            width: 'auto',
            fit: true
        });
    });
</script>
<!-- service for responsive tabs -->
<!-- OnScroll-Number-Increase-JavaScript -->
<script src="assets/template/js/jquery.waypoints.min.js" type="text/javascript"></script>
<script src="assets/template/js/jquery.countup.js" type="text/javascript"></script>
<script type="text/javascript">
    $('.counter').countUp();
</script>
<!-- //OnScroll-Number-Increase-JavaScript -->
<!-- Slide-To-Top JavaScript (No-Need-To-Change) -->
<script type="text/javascript">
    $(document).ready(function () {
        var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 100,
            easingType: 'linear'
        };
        $().UItoTop({
            easingType: 'easeOutQuart'
        });
    });
</script>
<a href="#" id="toTop" class="stuoyal3w stieliga" style="display: block;">
    <span id="toTopHover" style="opacity: 0;"> </span>
</a>
<!-- //Slide-To-Top JavaScript -->
<!-- Smooth-Scrolling-JavaScript -->
<script src="assets/template/js/move-top.js" type="text/javascript"></script>
<script src="assets/template/js/easing.js" type="text/javascript"></script>
<script>
    jQuery(document).ready(function ($) {
        $(".scroll, .navbar li a, .footer li a").click(function (event) {
            $('html,body').animate({
                scrollTop: $(this.hash).offset().top
            }, 1000);
        });
    });
</script>
<!-- //Smooth-Scrolling-JavaScript -->
<!--bootstrap-->
<script src="assets/template/js/bootstrap.js" type="text/javascript"></script>
<!--// bootstrap-->
<!-- jQuery-Photo-filter-lightbox-Gallery-plugin -->
<script src="assets/template/js/jquery-1.7.2.js" type="text/javascript"></script>
<script src="assets/template/js/jquery.quicksand.js" type="text/javascript"></script>
<script src="assets/template/js/script.js" type="text/javascript"></script>
<script src="assets/template/js/jquery.prettyPhoto.js" type="text/javascript"></script>
<!-- //jQuery-Photo-filter-lightbox-Gallery-plugin -->
</body>
</html>